<div class="navbar-area" >
    <div class="mobile-responsive-nav">
        <div class="container-fluid">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a routerLink="">
                        <img src="../../assets/images/logo-2.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="desktop-nav desktop-nav-one nav-area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo.png" alt="Logo">
                </a>

                <div class="nav-widget-form">
                    <form class="search-form">
                        <input type="search" class="form-control" placeholder="Search items, Creators ">
                        <button type="submit">
                            <i class="ri-search-line"></i>
                        </button>
                    </form>
                </div>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link active">
                                Home 
                                
                            </a>
                         
                            <!--<ul class="dropdown-menu">
                               
                                <li class="nav-item">
                                    <a href="index-2.html" class="nav-link">
                                        Home Two
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-3.html" class="nav-link">
                                        Home Three
                                    </a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="nav-item">
                            <a routerLink="/transactions" class="nav-link active">
                                Transactions
                            </a>
                        </li> 
                            

                        <li class="nav-item">
                            <a routerLink="/authors" class="nav-link">
                                Community
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a routerLink="/authors" class="nav-link">
                                        About Us
                                    </a>
                                </li>

                            <!--    <li class="nav-item">
                                    <a href="add-wallet.html" class="nav-link">
                                        Add Wallet
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Blog
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="blog-1.html" class="nav-link">
                                                Blog Grid
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-2.html" class="nav-link">
                                                Blog Left Sidebar 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-3.html" class="nav-link">
                                                Blog Right Sidebar 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link">
                                                Blog Details 
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="categories.html" class="nav-link">
                                                Categories
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="tags.html" class="nav-link">
                                                Tags
                                            </a>
                                        </li>
                                    </ul>
                                </li>
-->
                                <li class="nav-item">
                                    <a routerLink="/help" class="nav-link">
                                        Help Center
                                    </a>
                                </li>
                            </ul>
                         </li>

                        <li class="nav-item">
                            <a routerLink="/contact" class="nav-link">
                                Contact Us
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                               Login & SignUp
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- <li class="nav-item">
                                    <a href="collection.html" class="nav-link">
                                        Collection
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="create-collection.html" class="nav-link">
                                        Create Collection
                                    </a>
                                </li>

                               

                                <li class="nav-item">
                                    <a href="authors.html" class="nav-link">
                                        Authors
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="author-profile.html" class="nav-link">
                                        Author Profile
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="team.html" class="nav-link">
                                        Team
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="testimonials.html" class="nav-link">
                                        Testimonials
                                    </a>
                                </li> -->

                                

                                <!-- <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        User
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a> 
                                    <ul class="dropdown-menu">-->
                                        <li class="nav-item">
                                            <a routerLink="/login" class="nav-link">
                                                Log In 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a routerLink="/signup" class="nav-link">
                                                Register
                                            </a>
                                        </li>
                                     <!--   <li class="nav-item">
                                            <a href="forgot-password.html" class="nav-link">
                                                Forgot Password
                                            </a>
                                        </li>
                                     </ul> -->
                                
<!-- 
                                <li class="nav-item">
                                    <a href="terms-condition.html" class="nav-link">
                                        Terms & Conditions
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="privacy-policy.html" class="nav-link">
                                        Privacy Policy
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="404.html" class="nav-link">
                                        404 Page
                                    </a>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="coming-soon.html" class="nav-link">
                                        Coming Soon
                                    </a>
                                </li> -->
                            </ul>
                        </li>

                    </ul>
                       <!-- <li class="nav-item">
                            <a href="#" class="nav-link ">
                                Discover
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="auction.html" class="nav-link">
                                        Live Auction
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="discover-1.html" class="nav-link">
                                        Discover Style One
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="discover-2.html" class="nav-link">
                                        Discover Style Two
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="item-details.html" class="nav-link">
                                        Item Details
                                    </a>
                                </li>
                            </ul>

                        </li>
-->
                       

                      <!--**************-->

                    <div class="others-options">
                        <ul class="optional-item-list">
                            <li><a routerLink="/createItem">Create</a></li>
                            <li><a routerLink="wallet" class="active">Connect Wallet</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="mobile-nav">
        <div class="search-btn">
            <a class="#" href="#searchmodal" data-bs-toggle="modal" data-bs-target="#searchmodal">
                <i class="ri-search-line"></i>
            </a>
        </div>
    </div> 

    <div class="side-nav-responsive">
        <div class="container-max">
            <div class="dot-menu dot-menu-mt">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            
            <div class="container container-mt">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center align-items-center">
                        <div class="side-nav-item">
                            <ul class="optional-item-list">
                                <li><a href="create-collection.html">Create</a></li>
                                <li><a href="add-wallet.html" class="active">Connect Wallet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>