
 
    <!-- Preloader -->
   <div class="preloader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Modal Start -->
    <div class="modal fade fade-scale searchmodal" id="searchmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="modal-search-form">
                        <input type="search" class="search-field" placeholder="Search...">
                        <button type="submit"><i class="ri-search-line"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

    <!-- Inner Banner -->
    <div class="inner-banner inner-bg4">
        <div class="container">
            <div class="inner-title">
                <h3>Log In</h3>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>Pages</li>
                    <li>Log In</li>
                </ul>

                <div class="inner-shape">
                    <img src="assets/images/inner-banner/inner-shape1.png" alt="Images">
                    <img src="assets/images/inner-banner/inner-shape2.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->

    <!-- User Area -->
    <div class="user-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="user-all-form">
                        <div class="contact-form">
                            <h3> Log In Now</h3>
                            <form action="#" id="contactForm" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                <div class="row">
                                 
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input  class="form-control" id="username" type="text" tabindex="1" value="" name="username"  [(ngModel)]="form.username" #username="ngModel">
                                                 <div *ngIf="username.errors && f.submitted">Username is required!</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input class="form-control" id="password" type="password" name="password" tabindex="2"  value="" aria-required="true" placeholder="Your Password" required [(ngModel)]="form.password" minlength="6" #password="ngModel">
                                              <div *ngIf="password.errors && f.submitted">
                                    <div *ngIf="password.errors['required']">Password is required</div>
                                    <div *ngIf="password.errors['minlength']">
                                        Password must be at least 6 characters
                                    </div>
                                </div>
                                        </div>
                                    </div>

                           
    
                                    <div class="col-lg-12 col-md-12 text-center">
                                        <button type="submit" class="default-btn">
                                            Log In Now
                                        </button>
                                    </div>
                                               </div>
                                               <div *ngIf="f.submitted && isLoginFailed">
                                    Login failed: {{ errorMessage }}
                                </div>
                            </form>

                             <div *ngIf="isLoggedIn">
                                <a routerLink="/profile">Logged in as {{ roles }}.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- User Area End -->

   