       
        <!-- Modal Start -->
       <div class="modal fade fade-scale searchmodal" id="searchmodal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal">
                            <i class="ri-close-line"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="modal-search-form">
                            <input type="search" class="search-field" placeholder="Search...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->

        <!-- Inner Banner -->
       <div class="inner-banner inner-bg5">
            <div class="container">
                <div class="inner-title">
                    <h3>Register</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Pages</li>
                        <li>Register</li>
                    </ul>

                    <div class="inner-shape">
                        <img src="assets/images/inner-banner/inner-shape1.png" alt="Images">
                        <img src="assets/images/inner-banner/inner-shape2.png" alt="Images">
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- User Area -->
        <div class="user-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="user-all-form">
                            <div class="contact-form">
                                <h3> Create Account </h3>
                                <div class="bar"></div>
                                <form action="#" id="contactform" 
                                *ngIf="!isSuccessful"
                                name="form"
                                (ngSubmit)="f.form.valid && onSubmit()"
                                #f="ngForm"
                                novalidate >
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Your Name</label>
                                                <input 
                                                id="name" name="name" tabindex="1" value="" aria-required="true" required type="text" placeholder="Your Username" 
                                    [(ngModel)]="form.username"
                                    minlength="3"
                                    maxlength="20"
                                    #username="ngModel"
                                                class="form-control">

                                        <div *ngIf="username.errors && f.submitted">
                                        <div *ngIf="username.errors['required']">Username is required</div>
                                        <div *ngIf="username.errors['minlength']">
                                          Username must be at least 3 characters
                                        </div>
                                        <div *ngIf="username.errors['maxlength']">
                                          Username must be at most 20 characters
                                        </div>
                                    </div>

                                            </div>
                                        </div>

                                        <div class="col-lg-12 ">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input
                                                id="email" name="email" tabindex="2"  value="" aria-required="true" type="email" placeholder="Your Email Address" required
                                    [(ngModel)]="form.email"
                                    required
                                    email
                                    #email="ngModel" class="form-control" >
                                                <div *ngIf="email.errors && f.submitted">
                                        <div *ngIf="email.errors['required']">Email is required</div>
                                        <div *ngIf="email.errors['email']">
                                          Email must be a valid email address
                                        </div>
                                    </div> 
                                </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input id="password" name="password" tabindex="3"  value="" aria-required="true" type="password" placeholder="Set Your Password" required
                                    [(ngModel)]="form.password"
                                    required
                                    minlength="6"
                                    #password="ngModel"
                                    class="form-control"  >
                                    <div *ngIf="password.errors && f.submitted">
                                        <div *ngIf="password.errors['required']">Password is required</div>
                                        <div *ngIf="password.errors['minlength']">
                                          Password must be at least 6 characters
                                        </div>
                                    </div>
                                               
                                            </div>
                                        </div>
        
                                        <div class="col-lg-12 col-md-12 text-center">
                                            <button type="submit" class="default-btn">
                                                Register Now
                                            </button>
                                        </div>
                                    </div>
                                     <div *ngIf="f.submitted && isSignUpFailed">
                                        Signup failed!<br />{{ errorMessage }}
                                    </div>
                                </form>
                                <div *ngIf="isSuccessful">
                                    <a routerLink="/login">
                                    Your registration is successful!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Area End -->
        <!-- <section class="flat-title-page inner">
            <div class="overlay"></div>
            <div class="themesflat-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading mg-bt-12">
                            <h1 class="heading text-center">Signup</h1>
                        </div>
                        <div class="breadcrumbs style2">
                            <ul>
                                <li><a routerLink="">Home</a></li>
                                <li>Signup</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>                    
        </section>
        
        <section class="tf-login tf-section">
            <div class="themesflat-container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tf-title-heading ct style-1">
                            Sigup To Axies
                        </h2>
        
        
                        <div class="flat-form box-login-email">
                            <div class="box-title-login">
                                <h5>Sign up with email</h5>
                            </div>
        
                            <div class="form-inner">
                                <form action="#" id="contactform" 
                                *ngIf="!isSuccessful"
                                name="form"
                                (ngSubmit)="f.form.valid && onSubmit()"
                                #f="ngForm"
                                novalidate>
                                    <input id="name" name="name" tabindex="1" value="" aria-required="true" required type="text" placeholder="Your Username" 
                                    [(ngModel)]="form.username"
                                    minlength="3"
                                    maxlength="20"
                                    #username="ngModel">
        
                                    <div *ngIf="username.errors && f.submitted">
                                        <div *ngIf="username.errors['required']">Username is required</div>
                                        <div *ngIf="username.errors['minlength']">
                                          Username must be at least 3 characters
                                        </div>
                                        <div *ngIf="username.errors['maxlength']">
                                          Username must be at most 20 characters
                                        </div>
                                    </div>
                                    <br>
        
                                    <input id="email" name="email" tabindex="2"  value="" aria-required="true" type="email" placeholder="Your Email Address" required
                                    [(ngModel)]="form.email"
                                    required
                                    email
                                    #email="ngModel">
        
                                    <div *ngIf="email.errors && f.submitted">
                                        <div *ngIf="email.errors['required']">Email is required</div>
                                        <div *ngIf="email.errors['email']">
                                          Email must be a valid email address
                                        </div>
                                    </div>
                                    <br>
        
                                    <input id="password" name="password" tabindex="3"  value="" aria-required="true" type="password" placeholder="Set Your Password" required
                                    [(ngModel)]="form.password"
                                    required
                                    minlength="6"
                                    #password="ngModel">
        
                                    <div *ngIf="password.errors && f.submitted">
                                        <div *ngIf="password.errors['required']">Password is required</div>
                                        <div *ngIf="password.errors['minlength']">
                                          Password must be at least 6 characters
                                        </div>
                                    </div>
                                    <br>
        
                                    <button class="submit">SignUp</button>
                                    <br>
                                    <br>
                                    <div *ngIf="f.submitted && isSignUpFailed">
                                        Signup failed!<br />{{ errorMessage }}
                                    </div>
                                </form>
                                <br>
                                <div *ngIf="isSuccessful">
                                    <a routerLink="/login">
                                    Your registration is successful!
                                    </a>
                                </div>
                                
                            </div>
        
                        </div>
        
                    </div>
                </div>
            </div>
        </section> -->