
        <!-- Modal Start -->
        <div class="modal fade fade-scale searchmodal" id="searchmodal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal">
                            <i class="ri-close-line"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="modal-search-form">
                            <input type="search" class="search-field" placeholder="Search...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->

        <!-- Inner Banner -->
        <div class="inner-banner inner-bg5">
            <div class="container">
                <div class="inner-title">
                    <h3>Get Help</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Community</li>
                        <li>Help Center</li>
                    </ul>

                    <div class="inner-shape">
                        <img src="assets/images/inner-banner/inner-shape1.png" alt="Images">
                        <img src="assets/images/inner-banner/inner-shape2.png" alt="Images">
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- Help Widget Form -->
        <div class="help-widget-form">
            <form class="search-form">
                <input type="search" class="form-control" placeholder="Search for help">
                <button type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
        </div>
        <!-- Help Widget Form  End -->

        <!-- Help Center Area -->
        <div class="help-center-area pt-100 pb-70">
           <div class="container">
               <div class="row">
                    <div class="col-lg-4 col-6">
                       <div class="help-center-card">
                           <h3>Getting Started</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis amet pellentesque vel sed. Libero bibendum id quam etiam nisi, maecenas urna aliquam eleifend.</p>
                       </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="help-center-card">
                            <h3>Buying</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis amet pellentesque vel sed. Libero bibendum id quam etiam nisi, maecenas urna aliquam eleifend.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="help-center-card">
                            <h3>Selling</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis amet pellentesque vel sed. Libero bibendum id quam etiam nisi, maecenas urna aliquam eleifend.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="help-center-card">
                            <h3>Creating</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis amet pellentesque vel sed. Libero bibendum id quam etiam nisi, maecenas urna aliquam eleifend.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="help-center-card">
                            <h3>FAQ</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis amet pellentesque vel sed. Libero bibendum id quam etiam nisi, maecenas urna aliquam eleifend.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="help-center-card">
                            <h3>User Safety</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis amet pellentesque vel sed. Libero bibendum id quam etiam nisi, maecenas urna aliquam eleifend.</p>
                        </div>
                    </div>
               </div>
           </div>
        </div>
        <!-- Help Center Area End -->

        <!-- Promoted Area -->
        <div class="promoted-area pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Promoted Articles</h2>
                </div>
                <div class="row pt-45 justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="promoted-int-content">
                            <ul class="promoted">
                                <li class="promoted-item">
                                    <a class="promoted-title active" href="javascript:void(0)">
                                        <i class="ri-arrow-right-s-line"></i>
                                        How Do I Create An Opensea Account?
                                    </a>
    
                                    <div class="promoted-content show">
                                        <p> 
                                            Ask especially collecting terminated may son expression collecting lorem may son expression text. Ask especially collecting terminated may son expression colum.
                                        </p>
                                    </div>
                                </li>
    
                                <li class="promoted-item">
                                    <a class="promoted-title" href="javascript:void(0)">
                                        <i class="ri-arrow-right-s-line"></i>
                                        How Do I List An NFT To Sell?
                                    </a>
    
                                    <div class="promoted-content">
                                        <p> 
                                            Ask especially collecting terminated may son expression collecting lorem may son expression text. Ask especially collecting terminated may son expression colum.
                                        </p>
                                    </div>
                                </li>
    
                                <li class="promoted-item">
                                    <a class="promoted-title" href="javascript:void(0)">
                                        <i class="ri-arrow-down-s-line"></i>
                                        Where Can I Find NFT Sales?
                                    </a>
    
                                    <div class="promoted-content">
                                        <p> 
                                            Ask especially collecting terminated may son expression collecting lorem may son expression text. Ask especially collecting terminated may son expression colum.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="promoted-int-content">
                            <ul class="promoted">
                                <li class="promoted-item">
                                    <a class="promoted-title" href="javascript:void(0)">
                                        <i class="ri-arrow-right-s-line"></i>
                                        Which Blockchain Does Opensea Support?
                                    </a>
    
                                    <div class="promoted-content">
                                        <p> 
                                            Ask especially collecting terminated may son expression collecting lorem may son expression text. Ask especially collecting terminated may son expression colum.
                                        </p>
                                    </div>
                                </li>
    
                                <li class="promoted-item">
                                    <a class="promoted-title" href="javascript:void(0)">
                                        <i class="ri-arrow-right-s-line"></i>
                                        How Do I Create An NFT?
                                    </a>
    
                                    <div class="promoted-content">
                                        <p> 
                                            Ask especially collecting terminated may son expression collecting lorem may son expression text. Ask especially collecting terminated may son expression colum.
                                        </p>
                                    </div>
                                </li>
    
                                <li class="promoted-item">
                                    <a class="promoted-title" href="javascript:void(0)">
                                        <i class="ri-arrow-down-s-line"></i>
                                        How Can I Report Fraudulent Content On?
                                    </a>
    
                                    <div class="promoted-content">
                                        <p> 
                                            Ask especially collecting terminated may son expression collecting lorem may son expression text. Ask especially collecting terminated may son expression colum.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="promoted-int-content">
                            <ul class="promoted">
                                <li class="promoted-item">
                                    <a class="promoted-title" href="javascript:void(0)">
                                        <i class="ri-arrow-right-s-line"></i>
                                        How Do Royalties Work?
                                    </a>
    
                                    <div class="promoted-content">
                                        <p> 
                                            Ask especially collecting terminated may son expression collecting lorem may son expression text. Ask especially collecting terminated may son expression colum.
                                        </p>
                                    </div>
                                </li>
    
                                <li class="promoted-item">
                                    <a class="promoted-title" href="javascript:void(0)">
                                        <i class="ri-arrow-right-s-line"></i>
                                        How Do I Find My Funds On Polygon?
                                    </a>
    
                                    <div class="promoted-content">
                                        <p> 
                                            Ask especially collecting terminated may son expression collecting lorem may son expression text. Ask especially collecting terminated may son expression colum.
                                        </p>
                                    </div>
                                </li>
    
                                <li class="promoted-item">
                                    <a class="promoted-title" href="javascript:void(0)">
                                        <i class="ri-arrow-down-s-line"></i>
                                        How Can I Report Fraudulent Content On?
                                    </a>
    
                                    <div class="promoted-content">
                                        <p> 
                                            Ask especially collecting terminated may son expression collecting lorem may son expression text. Ask especially collecting terminated may son expression colum.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Promoted Area End -->
